@model RejestrFaktur.Models.JednostkaMiary


<div class="form-group">
    @Helpery.OpakujBlad(@Html.ValidationSummary(true, ""))
    @Html.HiddenFor(model => model.Id)
</div>


<div class="form-group">
    @Html.LabelFor(model => model.NazwaJednostki)
    @Html.EditorFor(model => model.NazwaJednostki, new { htmlAttributes = new { @class = "form-control" }})
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.NazwaJednostki))
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SymbolJednostki)
    @Html.EditorFor(model => model.SymbolJednostki,new { htmlAttributes = new { @class = "form-control" }})
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.SymbolJednostki))
</div>
