@model RejestrFaktur.Models.PlatnoscTyp

<div class="form-group">
    @Helpery.OpakujBlad(@Html.ValidationSummary(true, ""))
    @Html.HiddenFor(model => model.Id)
</div>


<div class="form-group">
    @Html.LabelFor(model => model.Nazwa)
    @Html.EditorFor(model => model.Nazwa)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.Nazwa))

</div>

<div class="form-group">
    @Html.LabelFor(model => model.Opis)
    @Html.EditorFor(model => model.Opis)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.Opis))

</div>
