@model RejestrFaktur.Models.StawkaPodatku


<div class="form-group">
    @Helpery.OpakujBlad(@Html.ValidationSummary(true, ""))
    @Html.HiddenFor(model => model.Id)
</div>


<div class="form-group">
    @Html.LabelFor(model => model.NazwaStawki)
    @Html.EditorFor(model => model.NazwaStawki)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.NazwaStawki))
</div>

<div class="form-group">
    @Html.LabelFor(model => model.WysokoscStawki)
    @Html.EditorFor(model => model.WysokoscStawki)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.WysokoscStawki))
</div>


