@model RejestrFaktur.Models.Waluta

<div>
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.Id)
</div>


<div>
    @Html.LabelFor(model => model.Nazwa)
    <div>
        @Html.EditorFor(model => model.Nazwa)
        @Html.ValidationMessageFor(model => model.Nazwa)
    </div>
</div>

<div>
    @Html.LabelFor(model => model.Symbol)
    <div>
        @Html.EditorFor(model => model.Symbol)
        @Html.ValidationMessageFor(model => model.Symbol)
    </div>
</div>

<div>
    @Html.LabelFor(model => model.SciezkaDoIkony)
    <div>
        @Html.EditorFor(model => model.SciezkaDoIkony)
        @Html.ValidationMessageFor(model => model.SciezkaDoIkony)
    </div>
</div>
