@model RejestrFaktur.Models.Waluta

<div class="form-group">
    @Helpery.OpakujBlad(@Html.ValidationSummary(true, ""))
    @Html.HiddenFor(model => model.Id)
</div>


<div class="form-group">
    @Html.LabelFor(model => model.Nazwa)
    @Html.EditorFor(model => model.Nazwa)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.Nazwa))
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Symbol)
    @Html.EditorFor(model => model.Symbol)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.Symbol))
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SciezkaDoIkony)
    @Html.EditorFor(model => model.SciezkaDoIkony)
    @Helpery.OpakujBlad(@Html.ValidationMessageFor(model => model.SciezkaDoIkony))
</div>
