@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@model PagedList.IPagedList<Repozytorium.Models.ViewModel.FotoModelView>  
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    a:hover, a:focus {
        color: blue;
    }
</style>



<div class="container">
<!-- Page Header -->
    <div class="row">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-lg-12">
            <h1 class="page-header">
                Galeria naszych Pociech
                @*<small>Secondary Text</small>*@
            </h1>
        </div>
    </div>
<!-- /.row -->
    <!-- Projects Row -->
    @if (Request.IsAuthenticated)
    {

        <h4>@Html.ActionLink("Dodaj zdjęcia", "Create", "Gallery")</h4>
    }
@for (var i = 0; i < Model.Count; i+=3)
{
    int k = (Model.Count < i + 3) ? Model.Count : i + 3;
    <div class="row">
        @for (int j = i; j < k; j++)
        {
            <div class="col-md-4 portfolio-item">
                <a href="@Model[j].FotoData" >
                    
                    <img class="img-responsive" src="@Model[j].FotoMiniatureData" alt="">
                </a>
                <h3>
                    <a href="#">@Model[j].FileName</a>
                </h3>
                <p>@Model[j].Description</p>
            </div>

        }
    </div>

}


@*@foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="@item.FotoMiniatureData" alt="">
                </a>
                <h3>
                    <a href="#">@item.FileName</a>
                </h3>
                <p>@item.Description</p>
            </div>
        </div>
    }*@


@*<div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Name</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Name</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>*@

<!-- /.row -->
<!-- Projects Row -->
@*<div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->*@
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            @*<li>
                <a href="#">&laquo;</a>
            </li>*@
            @*<li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a
                        href="#">5</a>
            </li>*@
            <li>
                @Html.PagedListPager(Model, page => Url.Action("Index", new RouteValueDictionary(new { pageNumber = page })))
                @*<a href="#">&raquo;</a>*@
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->
<hr>
</div>

@*@model IEnumerable<Repozytorium.Models.FotoModel>

        @{
            ViewBag.Title = "Index";
        }

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FotoSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FotoData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FotoMiniatureData)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FotoSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FotoData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FotoMiniatureData)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.FotoId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.FotoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.FotoId })
                </td>
            </tr>
        }

        </table>*@