
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset=utf-8>
    <meta name="Team of Code" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portfolio grupy TeamOfCode">
    <meta name="keywords" content="team of Code, C#, C SHarp, ASP.NET, MVC, Aplikacje, Programy, Projekty, Developer">
    <meta name="author" content="Team of Code">

    <title>TeamOfCode</title>
    <!-- Load Roboto font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Load css styles -->
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/pluton.css" />
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/Content/css/pluton-ie7.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.cslider.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/animate.css" />
    <!-- Fav and touch icons -->
    @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="/Content/images/ico/favicon.ico">*@
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">
                    <img src="/Content/images/logo.png" width="120" height="40" alt="Logo" />
                    <!-- This is website logo -->
                </a>
                <!-- Navigation button, visible on small resolution -->
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-menu"></i>
                </button>
                <!-- Main navigation -->
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav" id="top-navigation">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#service">Usługi</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#about">O nas</a></li>
                        
                        
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </div>
                <!-- End main navigation -->
            </div>
        </div>
    </div>

    @RenderBody();

    <div class="footer">
        <p>&copy;TeamOfCode</p>
    </div>
    <!-- Footer section end -->
    <!-- ScrollUp button start -->
    <div class="scrollup">
        <a href="#">
            <i class="icon-up-open"></i>
        </a>
    </div>
    <!-- ScrollUp button end -->
    <!-- Include javascript -->
    <script src="/Content/js/jquery.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Content/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.inview.js"></script>
    <!-- Load google maps api and call initializeMap function defined in app.js -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;callback=initializeMap"></script>
    <!-- css3-mediaqueries.js for IE8 or older -->
    <!--[if lt IE 9]>
        <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/Content/js/app.js"></script>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)














































@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
