@using RejestrFaktur.Models
@model RejestrFaktur.utils.AbstrKlasyInterfejsyGenerics.ObiektDoWidoku<Waluta>
@{
    Layout = "~/Views/Shared/_templateBootstrap.cshtml";
}
<h3>Czy chcesz usunąć poniższy wpis z bazy danych?</h3>
<div class="well">
    @Html.Partial("~/Views/Waluta/SzczegolyForm.cshtml", Model.Edytowany)

    @using (Html.BeginForm("Usun", "JednostkiMiary", FormMethod.Post))
    {

        <div class="input-group">
            @Html.HiddenFor(model => model.Edytowany.Id)
            @Html.HiddenFor(model => model.Edytowany.Nazwa)
            @Html.HiddenFor(model => model.Edytowany.Symbol)
            @Html.HiddenFor(model => model.Edytowany.SciezkaDoIkony)
            @Html.ActionLink("Powrót do listy obiektów", "Index", null, new { @class = "btn btn-sm btn-warning" })
            <input type="submit" value="Usuń" class="btn btn-sm btn-danger " />
        </div>
    }
</div>

