@using RejestrFaktur.Models
@using RejestrFaktur.utils.pozostale
@model IEnumerable<Waluta>
<h3>Lista jednostek Miary</h3>
<div class="well">
    <div class="btn-group">
        @Html.ActionLink("Utwórz nowy", "EdycjaNowy", new { id = 0, stan = Stany.NOWY }, new { @class = "btn btn-sm btn-success" })
    </div>
    <hr class="divider" />
    <table class="table table-striped table-bordered table-hover">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SciezkaDoIkony)
            </th>
            <th>Dostępne operacje</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SciezkaDoIkony)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EdycjaNowy", new { id = item.Id, stan = Stany.DO_EDYCJI }) |
                    @Html.ActionLink("Szczegóły", "Szczegoly", new { id = item.Id, stan = Stany.SZCZEGOLY }) |
                    @Html.ActionLink("Usuń", "DoUsuniencia", new { id = item.Id, stan = Stany.DO_USUNIECIA })
                </td>
            </tr>
        }
    </table>
</div>
