@model RejestrFaktur.Models.JednostkaMiary
<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.Id)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.Id)</strong>
</div>

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.NazwaJednostki)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.NazwaJednostki)</strong>
</div>

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.SymbolJednostki)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.SymbolJednostki)</strong>
</div>

