@model RejestrFaktur.Models.PlatnoscTyp
<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.Id)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.Id)</strong>
</div>

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.Nazwa)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.Nazwa)</strong>
</div>

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.Opis)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.Opis)</strong>
</div>
