@model RejestrFaktur.Models.StawkaPodatku

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/WartosciSlownikowe/szablonWartosciSlownikowe.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StawkaPodatku</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaStawki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaStawki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WysokoscStawki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WysokoscStawki)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
