@model RejestrFaktur.Models.StawkaPodatku

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.Id)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.Id)</strong>
</div>

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.NazwaStawki)):</span>
    <strong class="form-control">@Html.DisplayFor(model => model.NazwaStawki)</strong>
</div>

<div class="input-group">
    <span class="input-group-addon">@(Html.LabelFor(model => model.WysokoscStawki))::</span>
    <strong class="form-control">@Html.DisplayFor(model => model.WysokoscStawki)</strong>
</div>